// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// base
$textColor: rgba(0,0,0,.65);
$textColorDark: rgba(0,0,0,.85);
$textColorLight: rgba(0,0,0,0.45);

$hoverTextColor: #018efb;
$hoverBarColor: #ebebeb;

$borderSolidColor: #ebebeb;

$bgColorGrayLight: #f9f9f9;


// title-page-content
$titleIconBgColor: #0079de;
$titleIconColor: #fff;


// header
$headerBgColor: #0270c1;
$headerColor: #fff;
$headerSearchColor: #fff;
$headerLogoBgColor: #008df7;

// sidebar
$sideBarWidth: 200px;

// appmain
$appMainBgColor: #e8edf4;
$appContentBgColor: #fff;

// gridpage
$gridpageBgColor: #fff;
$gridpageGutter: 5px;